- content_for :header_tags do
  = javascript_pack_tag 'admin', integrity: true, async: true, crossorigin: 'anonymous'

- content_for :page_title do
  %span Chat Messages
  \-
  = "@#{@account.acct}"

.filters
  .back-link{ style: 'flex: 1 1 auto; text-align: right' }
    = link_to admin_account_path(@account.id) do
      = fa_icon 'chevron-left fw'
      %span Back to account

%hr.spacer/

= form_for(@form, url: admin_account_chat_messages_path(@account.id)) do |f|
  = hidden_field_tag :page, params[:page]

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        = f.button safe_join([fa_icon('trash'), 'Delete']), name: :delete, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
    .batch-table__body
      = render partial: 'admin/chat_messages/chat_message', collection: @chat_messages, locals: { f: f }

= paginate @chat_messages
