%tr
  %td{:align => "center"}
    %h1{:style => "margin:0;font-weight:bold;font-size:30px;color:#444;text-align:center;"}= t 'devise.mailer.reconfirmation_instructions.title'

%tr
  %td{:align => "center", :cellspacing => "0", :style => "vertical-align:middle"}
    %table
      %tbody
        %tr
          %p{:style => "font-size:16px;color:#444;margin:15px 0;text-align:center;"}= t 'devise.mailer.reconfirmation_instructions.explanation'

%tr
  %td{:align => "center", :cellspacing => "0", :style => "vertical-align:middle;padding-top:10px;padding-bottom:15px;"}
    %table{ align: 'center', cellspacing: 0, cellpadding: 0 }
      %tbody
        %tr
          %td{ :style => "background-color:#30CE7D;height:56px;border-radius:9999px;color:#fff;" }
            = link_to confirmation_url(@resource, confirmation_token: @token), :style => "height:56px;padding:20px 30px;text-decoration:none;color:#fff;font-size:16px;margin:0;" do
              %span{ :style => "color:#fff;font-size:16px;margin:0;" }= t 'devise.mailer.confirmation_instructions.action'

%tr
  %td{:align => "center", :cellspacing => "0", :style => "vertical-align:middle"}
    %table
      %tbody
        %tr
          %p{:style => "font-size:16px;color:#444;margin:15px 0 30px;text-align:center;"}= t 'devise.mailer.reconfirmation_instructions.extra'