%tr
  %td{:align => "center"}
    %h1{:style => "margin:0;font-weight:bold;font-size:30px;color:#444;text-align:center;"}= t "user_mailer.warning.title.#{@warning.action}"

%tr
  %td{:align => "center", :cellspacing => "0", :style => "vertical-align:middle"}
    %table
      %tbody
        %tr
          %p{:style => "font-size:16px;color:#444;margin:15px 0 0;text-align:center;"}
            - unless @warning.none_action?
              %p= t "user_mailer.warning.explanation.#{@warning.action}"

            - unless @warning.text.blank?
              = Formatter.instance.linkify(@warning.text)

%tr
  %td{:align => "center", :cellspacing => "0", :style => "vertical-align:middle"}
    %table
      %tbody
        %tr
          %p{ :style => "margin:0 0 15px 0;text-align:left;" }
            = link_to about_url do
              %span{:style => "font-size:16px;color:#444;margin:15px 0 30px;"}= t 'user_mailer.warning.review_server_policies'