- i ||= 0

%td.in-email-status{ class: i.zero? ? 'content-start' : nil }
  %table{ cellspacing: 0, cellpadding: 0, :style => "margin:15px 0;" }
    %tbody
      %tr
        %td{ :style => "padding:10px 15px;border:1px solid #D3D3D5;border-radius:8px;" }
          %table{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td{ align: 'left', width: 40, height: 40 }
                  = image_tag full_asset_url(status.account.avatar.url), alt:'', :style => "height:40px;width:40px;border-radius:9999px;overflow:hidden;"
                %td{ align: 'left', :style => "color:#000;font-size:16px;padding:5px 10px;" }
                  %bdi= display_name(status.account)
                  = "@#{status.account.acct}"

          - if status.spoiler_text?
            %div{ dir: rtl_status?(status) ? 'rtl' : 'ltr' }
              %p
                = Formatter.instance.format_spoiler(status)

          %div{ dir: rtl_status?(status) ? 'rtl' : 'ltr' }
            = Formatter.instance.format(status)

          %p
            = link_to l(status.created_at), web_url("#{status.account.username}/posts/#{status.id}")
