- content_for :page_title do
  = "#{group.title} / Group • #{site_hostname}"

- content_for :header_tags do
  = opengraph 'og:type', 'website'
  = render 'groups/og', group: group, url: "https://gab.com/groups/#{group.id}"