%tr
  %td
    = custom_emoji_tag(custom_emoji)
  %td
    %samp= ":#{custom_emoji.shortcode}:"
  %td
    - if custom_emoji.local?
      = t('admin.accounts.location.local')
    - else
      = link_to custom_emoji.domain, admin_custom_emojis_path(by_domain: custom_emoji.domain)
  %td
    - if custom_emoji.local?
      - if custom_emoji.visible_in_picker
        = table_link_to 'eye', t('admin.custom_emojis.listed'), admin_custom_emoji_path(custom_emoji, custom_emoji: { visible_in_picker: false }, page: params[:page], **@filter_params), method: :patch
      - else
        = table_link_to 'eye-slash', t('admin.custom_emojis.unlisted'), admin_custom_emoji_path(custom_emoji, custom_emoji: { visible_in_picker: true }, page: params[:page], **@filter_params), method: :patch
  %td
    = table_link_to 'times', t('admin.custom_emojis.delete'), admin_custom_emoji_path(custom_emoji, page: params[:page], **@filter_params), method: :delete, data: { confirm: t('admin.accounts.are_you_sure') }
