!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    %link{ rel: 'icon', href: favicon_path, type: 'image/x-icon' }/
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }/
    %link{ rel: 'mask-icon', href: '/mask-icon.svg', color: '#2B90D9' }/
        
    -# iPhone Xs Max (1242px x 2688px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)', href: '/apple-launch-1242x2688.png' }/
    -# iPhone Xr (828px x 1792px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)', href: '/apple-launch-828x1792.png' }/
    -# iPhone X, Xs (1125px x 2436px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)', href: '/apple-launch-1125x2436.png' }/
    -# iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)', href: '/apple-launch-1242x2208.png' }/
    -# iPhone 8, 7, 6s, 6 (750px x 1334px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)', href: '/apple-launch-750x1334.png' }/
    -# iPad Pro 12.9" (2048px x 2732px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)', href: '/apple-launch-2048x2732.png' }/
    -# iPad Pro 11” (1668px x 2388px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)', href: '/apple-launch-1668x2388.png' }/
    -# iPad Pro 10.5" (1668px x 2224px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)', href: '/apple-launch-1668x2224.png' }/
    -# iPad Mini, Air (1536px x 2048px)
    -# %link{ rel: 'apple-touch-startup-image', media: '(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)', href: '/apple-launch-1536x2048.png' }/

    %link{ rel: 'manifest', href: '/manifest.json' }/
    %meta{ name: 'msapplication-config', content: '/browserconfig.xml' }/
    %meta{ name: 'theme-color', content: '#21D07B' }/
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }/
    %meta{ name: 'apple-mobile-web-app-status-bar-style', content: 'black-translucent' }/

    - if @tag
      = render 'tags/meta', tag: @tag, initial_state_json: @initial_state_json
    - elsif @stream_entry && @account
      = render 'stream_entries/meta', stream_entry: @stream_entry, account: @account
    - elsif @account && @account.local?
      = render 'accounts/meta', account: @account, older_url: nil, newer_url: nil
    - else
      - description = strip_tags(t('about.about_gabsocial_html'))
      %meta{ name: 'description', content: description }/

    %title= content_for?(:page_title) ? safe_join([yield(:page_title).chomp.html_safe, title], ' - ') : title

    = stylesheet_pack_tag 'common', media: 'all'
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    = javascript_pack_tag "locale_#{I18n.locale}", integrity: true, crossorigin: 'anonymous'
    = csrf_meta_tags

    - if Setting.custom_css.present?
      = stylesheet_link_tag custom_css_path, media: 'all'

    = yield :header_tags

  %body{ class: body_classes }
    = content_for?(:content) ? yield(:content) : yield